.hello{
    display:flex;
    flex-direction:column;
    color:white;
}

.btn{
    width: 200px;
    height: 56px;
    background: #FD5A14;
    color:white;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}